* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
<<<<<<< HEAD
    background-color: blue;
    color: magenta;
    font-family: 'Courier New', Courier, monospace;
=======
    background-color: antiquewhite;
    color: hotpink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
>>>>>>> main
}