* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #dda949;
    color: #291904;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}